<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<HTML>
<HEAD>
  <TITLE>BetterCryptoBureau search</TITLE>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- TODO: add bootstrap css -->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

</HEAD>
<BODY>
<form action="/data" method="get">

  <h1>Project search</h1>
  <!-- the following are source from Model Project.java -->
  
  <p>Id</p>
  <INPUT TYPE="text" NAME="projectId" VALUE=""><P>
  <input type="submit" value="Submit">

<!--   <p>Name</p> -->
<!--   <INPUT TYPE="text" NAME="projectName" VALUE=""><P> -->
  
<!--   <p>Symbol</p> -->
<!--   <INPUT TYPE="text" NAME="projectSymbol" VALUE=""><P> -->
</form>

</BODY>
</HTML>
